openapi: 3.1.0
info:
  title: Autumn API
  version: 1.2.0
servers:
  - url: https://api.useautumn.com
    description: Production server
security:
  - secretKey: []
paths:
  /products:
    get:
      summary: List Products
      tags:
        - products
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      $ref: "#/components/schemas/Product"
                required:
                  - list
                additionalProperties: false
      x-codeSamples:
        - lang: TypeScript
          source: |-
            import { Autumn } from 'autumn-js';

            const autumn = new Autumn();

            const products = await autumn.products.list();

            console.log(products.list);
    post:
      summary: Create Product
      tags:
        - products
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: The ID of the product. Used to identify the product in other API
                    calls like checkout or update product.
                  type: string
                  pattern: ^[a-zA-Z0-9_-]+$
                name:
                  description: The name of the product
                  type: string
                is_add_on:
                  description: Whether the product is an add-on. Add-on products can be attached
                    multiple times and don't to through upgrade / downgrade
                    flows.
                  default: false
                  type: boolean
                is_default:
                  description: Whether the product is the default product. Default products are
                    enabled by default for new customers.
                  default: false
                  type: boolean
                group:
                  description: Product group which this product belongs to. Products within a
                    group have upgrade / downgrade logic when the customer moves
                    between them.
                  anyOf:
                    - type: string
                    - type: "null"
                items:
                  description: Array of product items that define the product's features and
                    pricing
                  type: array
                  items:
                    $ref: "#/components/schemas/CreateProductItemParams"
                free_trial:
                  description: Free trial configuration for this product, if available
                  anyOf:
                    - type: object
                      properties:
                        length:
                          anyOf:
                            - type: string
                            - type: number
                        unique_fingerprint:
                          default: false
                          type: boolean
                        duration:
                          default: day
                          type: string
                          enum:
                            - day
                            - month
                            - year
                        card_required:
                          default: true
                          type: boolean
                      required:
                        - length
                    - type: "null"
              required:
                - id
                - name
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
      x-codeSamples:
        - lang: TypeScript
          source: >-
            import { Autumn } from 'autumn-js';


            const autumn = new Autumn();


            const product = await autumn.products.create({ id: 'id', name:
            'name' });


            console.log(product.id);
        - lang: Python
          source: |-
            import asyncio
            from autumn import Autumn

            autumn = Autumn("am_sk_1234567890")

            async def main():
                product = await autumn.products.create(
                    id="id",
                    name="name",
                )
                print(product.id)

            asyncio.run(main())
  /products/{product_id}:
    get:
      summary: Get Product
      tags:
        - products
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          required: true
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
      x-codeSamples:
        - lang: TypeScript
          source: |-
            import { Autumn } from 'autumn-js';

            const autumn = new Autumn();

            const product = await autumn.products.get('product_id');

            console.log(product.id);
        - lang: Python
          source: |-
            import asyncio
            from autumn import Autumn

            autumn = Autumn("am_sk_1234567890")

            async def main():
                product = await autumn.products.get(
                    "product_id",
                )
                print(product.id)

            asyncio.run(main())
    post:
      summary: Update Product
      tags:
        - products
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  description: The ID of the product. Used to identify the product in other API
                    calls like checkout or update product.
                  type: string
                  pattern: ^[a-zA-Z0-9_-]+$
                name:
                  description: The name of the product
                  type: string
                is_add_on:
                  description: Whether the product is an add-on. Add-on products can be attached
                    multiple times and don't to through upgrade / downgrade
                    flows.
                  type: boolean
                is_default:
                  description: Whether the product is the default product. Default products are
                    enabled by default for new customers.
                  type: boolean
                group:
                  description: Product group which this product belongs to. Products within a
                    group have upgrade / downgrade logic when the customer moves
                    between them.
                  anyOf:
                    - type: string
                    - type: "null"
                archived:
                  description: Archive this product using this flag. Archived products are hidden
                    on the dashboard.
                  type: boolean
                items:
                  type: array
                  items:
                    $ref: "#/components/schemas/CreateProductItemParams"
                free_trial:
                  description: Free trial configuration for this product, if available
                  anyOf:
                    - type: object
                      properties:
                        length:
                          anyOf:
                            - type: string
                            - type: number
                        unique_fingerprint:
                          default: false
                          type: boolean
                        duration:
                          default: day
                          type: string
                          enum:
                            - day
                            - month
                            - year
                        card_required:
                          default: true
                          type: boolean
                      required:
                        - length
                    - type: "null"
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/Product"
      x-codeSamples:
        - lang: TypeScript
          source: |-
            import { Autumn } from 'autumn-js';

            const autumn = new Autumn();

            const product = await autumn.products.update('product_id');

            console.log(product.id);
    delete:
      summary: Delete Product
      tags:
        - products
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          required: true
        - in: query
          name: all_versions
          schema:
            type: boolean
      responses:
        "200":
          description: ""
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                  - success
                additionalProperties: false
      x-codeSamples:
        - lang: TypeScript
          source: |-
            import { Autumn } from 'autumn-js';

            const autumn = new Autumn();

            const product = await autumn.products.delete('product_id');

            console.log(product.success);
        - lang: Python
          source: |-
            import asyncio
            from autumn import Autumn

            autumn = Autumn("am_sk_1234567890")

            async def main():
                product = await autumn.products.delete(
                    product_id="product_id",
                )
                print(product.success)

            asyncio.run(main())
components:
  schemas:
    CreateProductItemParams:
      description: Product item defining features and pricing within a product
      type: object
      properties:
        feature_id:
          description: The feature ID of the product item. Should be null for fixed price
            items.
          anyOf:
            - type: string
            - type: "null"
        included_usage:
          description: The amount of usage included for this feature (per interval).
          anyOf:
            - anyOf:
                - type: number
                - type: string
                  const: inf
            - type: "null"
        interval:
          description: The reset or billing interval of the product item. If null, feature
            will have no reset date, and if there's a price, it will be billed
            one-off.
          anyOf:
            - type: string
              enum:
                - minute
                - hour
                - day
                - week
                - month
                - quarter
                - semi_annual
                - year
            - type: "null"
        interval_count:
          description: Interval count of the feature.
          anyOf:
            - type: number
            - type: "null"
        entity_feature_id:
          description: The feature ID of the entity (like seats) to track sub-balances for.
          anyOf:
            - type: string
            - type: "null"
        usage_model:
          description: Whether the feature should be prepaid upfront or billed for how
            much they use end of billing period.
          anyOf:
            - type: string
              enum:
                - prepaid
                - pay_per_use
            - type: "null"
        price:
          description: The price of the product item. Should be null if tiered pricing is
            set.
          anyOf:
            - type: number
            - type: "null"
        tiers:
          description: Tiered pricing for the product item. Not applicable for fixed price
            items.
          anyOf:
            - type: array
              items:
                type: object
                properties:
                  to:
                    description: The maximum amount of usage for this tier.
                    example: 100
                    anyOf:
                      - type: number
                      - type: string
                        const: inf
                  amount:
                    description: The price of the product item for this tier.
                    example: 10
                    type: number
                required:
                  - to
                  - amount
            - type: "null"
        billing_units:
          description: The billing units of the product item (eg $1 for 30 credits).
          anyOf:
            - type: number
            - type: "null"
        reset_usage_when_enabled:
          description: Whether the usage should be reset when the product is enabled.
          anyOf:
            - type: boolean
            - type: "null"
      required:
        - interval
    CustomerProduct:
      description: Customer product object returned by the API
      type: object
      properties:
        id:
          description: The unique identifier for the product
          example: pro_plan
          type: string
        name:
          description: The name of the product
          example: Pro Plan
          anyOf:
            - type: string
            - type: "null"
        group:
          description: The group the product belongs to
          example: product_set_1
          anyOf:
            - type: string
            - type: "null"
        status:
          description: Current status of the product for this customer
          example: active
          type: string
          enum:
            - active
            - expired
            - scheduled
            - trialing
            - past_due
        canceled_at:
          description: Timestamp when the product was canceled for the customer
          example: 1717000000
          anyOf:
            - type: number
            - type: "null"
        started_at:
          description: Timestamp when the customer started this product
          example: 1700000000000
          type: number
        is_default:
          description: Whether this product is the default for the customer
          example: true
          type: boolean
        is_add_on:
          description: Whether the product is an add-on
          example: false
          type: boolean
        version:
          description: Version of the product
          example: 1
          anyOf:
            - type: number
            - type: "null"
        stripe_subscription_ids:
          description: List of Stripe subscription IDs associated with this product, if any
          example:
            - sub_1Nc0JzBAbcxyz
            - sub_1Nc0xyBAnopq
          anyOf:
            - type: array
              items:
                type: string
            - type: "null"
        current_period_start:
          description: Start of the current billing period
          example: 1717000000
          anyOf:
            - type: number
            - type: "null"
        current_period_end:
          description: End of the current billing period
          example: 1719600000
          anyOf:
            - type: number
            - type: "null"
        entity_id:
          description: ID of the entity this customer product is attached to, if applicable
          example: entity_1234abcd
          anyOf:
            - type: string
            - type: "null"
        items:
          description: Array of product items defining the features and pricing
          example:
            - feature_id: <string>
              feature_type: single_use
              included_usage: 123
              interval: month
              usage_model: prepaid
              price: 123
              billing_units: 1000
              entity_feature_id: <string>
              reset_usage_when_enabled: true
              tiers:
                - to: 100
                  amount: 10
          anyOf:
            - type: array
              items:
                $ref: "#/components/schemas/ProductItem"
            - type: "null"
        quantity:
          description: The number of units of this product held by the customer, if
            applicable
          example: 1
          type: number
      required:
        - id
        - name
        - group
        - status
        - started_at
        - is_default
        - is_add_on
    ProductItem:
      description: Product item defining features and pricing within a product
      type: object
      properties:
        type:
          description: The type of the product item
          anyOf:
            - type: string
              enum:
                - feature
                - priced_feature
                - price
            - type: "null"
        feature_id:
          description: The feature ID of the product item. If the item is a fixed price,
            should be `null`
          anyOf:
            - type: string
            - type: "null"
        feature_type:
          description: Single use features are used once and then depleted, like API calls
            or credits. Continuous use features are those being used on an
            ongoing-basis, like storage or seats.
          anyOf:
            - type: string
              enum:
                - single_use
                - continuous_use
                - boolean
                - static
            - type: "null"
        included_usage:
          description: The amount of usage included for this feature.
          anyOf:
            - anyOf:
                - type: number
                - type: string
                  const: inf
            - type: "null"
        interval:
          description: The reset or billing interval of the product item. If null, feature
            will have no reset date, and if there's a price, it will be billed
            one-off.
          anyOf:
            - type: string
              enum:
                - minute
                - hour
                - day
                - week
                - month
                - quarter
                - semi_annual
                - year
            - type: "null"
        interval_count:
          description: The interval count of the product item.
          anyOf:
            - type: number
            - type: "null"
        price:
          description: The price of the product item. Should be `null` if tiered pricing
            is set.
          anyOf:
            - type: number
            - type: "null"
        tiers:
          description: Tiered pricing for the product item. Not applicable for fixed price
            items.
          anyOf:
            - type: array
              items:
                type: object
                properties:
                  to:
                    description: The maximum amount of usage for this tier.
                    example: 100
                    anyOf:
                      - type: number
                      - type: string
                        const: inf
                  amount:
                    description: The price of the product item for this tier.
                    example: 10
                    type: number
                required:
                  - to
                  - amount
            - type: "null"
        usage_model:
          description: Whether the feature should be prepaid upfront or billed for how
            much they use end of billing period.
          anyOf:
            - type: string
              enum:
                - prepaid
                - pay_per_use
            - type: "null"
        billing_units:
          description: The amount per billing unit (eg. $9 / 250 units)
          anyOf:
            - type: number
            - type: "null"
        reset_usage_when_enabled:
          description: Whether the usage should be reset when the product is enabled.
          anyOf:
            - type: boolean
            - type: "null"
        entity_feature_id:
          description: The entity feature ID of the product item if applicable.
          anyOf:
            - type: string
            - type: "null"
        display:
          description: The display of the product item.
          anyOf:
            - type: object
              properties:
                primary_text:
                  type: string
                secondary_text:
                  anyOf:
                    - type: string
                    - type: "null"
              required:
                - primary_text
            - type: "null"
        quantity:
          description: Used in customer context. Quantity of the feature the customer has
            prepaid for.
          anyOf:
            - type: number
            - type: "null"
        next_cycle_quantity:
          description: Used in customer context. Quantity of the feature the customer will
            prepay for in the next cycle.
          anyOf:
            - type: number
            - type: "null"
    Product:
      examples:
        - id: Pro Product
          name: Pro Plan
          group: null
          env: sandbox
          is_add_on: false
          is_default: false
          archived: false
          version: 1
          created_at: 1761296829908
          items:
            - type: price
              feature_id: null
              interval: month
              interval_count: 1
              price: 20
              display:
                primary_text: $20
                secondary_text: per month
            - type: priced_feature
              feature_id: words
              included_usage: 1000
              interval: month
              interval_count: 1
              price: 0.5
              usage_model: pay_per_use
              billing_units: 1000
              reset_usage_when_enabled: true
              entity_feature_id: null
              display:
                primary_text: 1,000 Words
                secondary_text: then $0.5 per 1,000 Words
            - type: feature
              feature_id: dashboard
              entity_feature_id: null
              display:
                primary_text: Dashboard
            - type: feature
              feature_id: messages
              included_usage: 10
              interval: month
              interval_count: 1
              reset_usage_when_enabled: true
              entity_feature_id: null
              display:
                primary_text: 10 Messages
          free_trial:
            duration: day
            length: 7
            unique_fingerprint: false
            card_required: true
          base_variant_id: null
          scenario: new
      type: object
      properties:
        id:
          description: The ID of the product you set when creating the product
          type: string
        name:
          description: The name of the product
          type: string
        group:
          description: Product group which this product belongs to
          anyOf:
            - type: string
            - type: "null"
        env:
          description: The environment of the product
          type: string
          enum:
            - sandbox
            - live
        is_add_on:
          description: Whether the product is an add-on and can be purchased alongside
            other products
          type: boolean
        is_default:
          description: Whether the product is the default product
          type: boolean
        archived:
          description: Whether this product has been archived and is no longer available
          type: boolean
        version:
          description: The current version of the product
          type: number
        created_at:
          description: The timestamp of when the product was created in milliseconds since
            epoch
          type: number
        items:
          description: Array of product items that define the product's features and pricing
          type: array
          items:
            $ref: "#/components/schemas/ProductItem"
        free_trial:
          description: Free trial configuration for this product, if available
          anyOf:
            - type: object
              properties:
                duration:
                  description: The duration type of the free trial
                  type: string
                  enum:
                    - day
                    - month
                    - year
                length:
                  description: The length of the duration type specified
                  type: number
                unique_fingerprint:
                  description: Whether the free trial is limited to one per customer fingerprint
                  type: boolean
                card_required:
                  description: Whether the free trial requires a card. If false, the customer can
                    attach the product without going through a checkout flow or
                    having a card on file.
                  type: boolean
                trial_available:
                  description: Used in customer context. Whether the free trial is available for
                    the customer if they were to attach the product.
                  default: true
                  anyOf:
                    - type: boolean
                    - type: "null"
              required:
                - duration
                - length
                - unique_fingerprint
                - card_required
                - trial_available
              additionalProperties: false
            - type: "null"
        base_variant_id:
          description: ID of the base variant this product is derived from
          anyOf:
            - type: string
            - type: "null"
        scenario:
          description: Scenario for when this product is used in attach flows
          type: string
          enum:
            - scheduled
            - active
            - new
            - renew
            - upgrade
            - downgrade
            - cancel
            - expired
            - past_due
      required:
        - id
        - name
        - group
        - env
        - is_add_on
        - is_default
        - archived
        - version
        - created_at
        - items
        - free_trial
        - base_variant_id
      additionalProperties: false
    CustomerData:
      description: Customer data for creating or updating a customer
      type: object
      properties:
        name:
          description: Customer's name
          example: John Doe
          anyOf:
            - type: string
            - type: "null"
        email:
          description: Customer's email address
          example: john@example.com
          anyOf:
            - type: string
            - type: "null"
        fingerprint:
          description: Unique identifier (eg, serial number) to detect duplicate customers
            and prevent free trial abuse
          example: fp_123abc
          anyOf:
            - type: string
            - type: "null"
        metadata:
          description: Additional metadata for the customer
          example:
            company: Acme Inc
          anyOf:
            - type: object
              propertyNames: {}
              additionalProperties: {}
            - type: "null"
        stripe_id:
          description: Stripe customer ID if you already have one
          example: cus_stripe123
          anyOf:
            - type: string
            - type: "null"
      additionalProperties: false
    EntityData:
      description: Entity data for creating an entity
      type: object
      properties:
        feature_id:
          description: The feature ID that this entity is associated with
          example: seats
          type: string
        name:
          description: Name of the entity
          example: Team Alpha
          type: string
      required:
        - feature_id
      additionalProperties: false
    Customer:
      description: Customer object returned by the API
      type: object
      properties:
        id:
          description: Your internal ID for the customer
          example: cus_123
          anyOf:
            - type: string
            - type: "null"
        created_at:
          description: Timestamp of customer creation in milliseconds since epoch
          example: 1717000000
          type: number
        name:
          description: Customer’s name
          example: John Doe
          anyOf:
            - type: string
            - type: "null"
        email:
          description: Customer’s email address
          example: john@doe.com
          anyOf:
            - type: string
            - type: "null"
        fingerprint:
          description: Unique identifier (eg. serial number) to detect duplicate customers
            and prevent key leaks
          example: fp_9184And92839123hda
          anyOf:
            - type: string
            - type: "null"
        stripe_id:
          description: Stripe customer ID
          example: cus_J8A5c31A8tlpwN
          default: null
          anyOf:
            - type: string
            - type: "null"
        env:
          description: Environment the customer is in
          example: production
          type: string
          enum:
            - sandbox
            - live
        metadata:
          default: {}
          type: object
          propertyNames: {}
          additionalProperties: {}
        products:
          description: List of products the customer has access to
          example: []
          type: array
          items:
            $ref: "#/components/schemas/CustomerProduct"
        features:
          description: List of features the customer has access to
          example: {}
          type: object
          propertyNames:
            type: string
          additionalProperties:
            type: object
            properties:
              id:
                description: The unique identifier of the feature
                example: feature_123
                type: string
              type:
                description: The type of the feature
                example: single_use
                type: string
                enum:
                  - static
                  - boolean
                  - single_use
                  - continuous_use
                  - credit_system
              name:
                description: The name of the feature
                example: API Calls
                anyOf:
                  - type: string
                  - type: "null"
              interval:
                description: The billing interval or 'multiple' if the feature has multiple
                  intervals
                example: month
                anyOf:
                  - anyOf:
                      - type: string
                        enum:
                          - lifetime
                          - minute
                          - hour
                          - day
                          - week
                          - month
                          - quarter
                          - semi_annual
                          - year
                      - type: string
                        const: multiple
                  - type: "null"
              interval_count:
                description: The number of intervals between resets
                example: 1
                anyOf:
                  - type: number
                  - type: "null"
              unlimited:
                description: Whether the feature has unlimited usage
                example: false
                anyOf:
                  - type: boolean
                  - type: "null"
              balance:
                description: The remaining balance for this feature
                example: 500
                anyOf:
                  - type: number
                  - type: "null"
              usage:
                description: The current usage amount
                example: 250
                anyOf:
                  - type: number
                  - type: "null"
              included_usage:
                description: The amount of usage included
                example: 1000
                anyOf:
                  - type: number
                  - type: "null"
              next_reset_at:
                description: Timestamp when the usage resets
                example: 1759247877000
                anyOf:
                  - type: number
                  - type: "null"
              overage_allowed:
                description: Whether overage usage beyond the limit is allowed
                example: true
                anyOf:
                  - type: boolean
                  - type: "null"
              breakdown:
                description: Detailed breakdown by interval for features with multiple intervals
                example:
                  - interval: month
                    interval_count: 1
                    balance: 500
                    usage: 250
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        interval:
                          description: The billing interval for this feature breakdown
                          example: month
                          type: string
                          enum:
                            - lifetime
                            - minute
                            - hour
                            - day
                            - week
                            - month
                            - quarter
                            - semi_annual
                            - year
                        interval_count:
                          description: The number of intervals between resets
                          example: 1
                          anyOf:
                            - type: number
                            - type: "null"
                        balance:
                          description: The remaining balance for this interval
                          example: 500
                          anyOf:
                            - type: number
                            - type: "null"
                        usage:
                          description: The current usage amount
                          example: 250
                          anyOf:
                            - type: number
                            - type: "null"
                        included_usage:
                          description: The amount of usage included in this interval
                          example: 1000
                          anyOf:
                            - type: number
                            - type: "null"
                        next_reset_at:
                          description: Timestamp when the usage resets
                          example: 1759247877000
                          anyOf:
                            - type: number
                            - type: "null"
                        usage_limit:
                          description: The maximum usage allowed
                          example: 1000
                          anyOf:
                            - type: number
                            - type: "null"
                        rollovers:
                          description: Array of rollover balances from previous periods
                          example:
                            - balance: 100
                              expires_at: 1759247877000
                          anyOf:
                            - type: array
                              items:
                                type: object
                                properties:
                                  balance:
                                    description: The remaining balance amount that has rolled over
                                    example: 100
                                    type: number
                                  expires_at:
                                    description: Timestamp when the rollover balance expires
                                    example: 1759247877000
                                    type: number
                                required:
                                  - balance
                                  - expires_at
                                additionalProperties: false
                            - type: "null"
                      required:
                        - interval
                      additionalProperties: false
                  - type: "null"
              credit_schema:
                description: Credit conversion schema for credit system features
                example:
                  - feature_id: feature_123
                    credit_amount: 10
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        feature_id:
                          description: The ID of the feature that credits are applied to
                          example: feature_123
                          type: string
                        credit_amount:
                          description: The amount of credits applied per usage
                          example: 10
                          type: number
                      required:
                        - feature_id
                        - credit_amount
                      additionalProperties: false
                  - type: "null"
              usage_limit:
                description: The maximum usage allowed
                example: 1000
                anyOf:
                  - type: number
                  - type: "null"
              rollovers:
                description: Array of rollover balances from previous periods
                example:
                  - balance: 100
                    expires_at: 1759247877000
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        balance:
                          description: The remaining balance amount that has rolled over
                          example: 100
                          type: number
                        expires_at:
                          description: Timestamp when the rollover balance expires
                          example: 1759247877000
                          type: number
                      required:
                        - balance
                        - expires_at
                      additionalProperties: false
                  - type: "null"
            required:
              - id
              - type
            additionalProperties: false
        invoices:
          type: array
          items:
            type: object
            properties:
              product_ids:
                description: Array of product IDs included in this invoice
                example:
                  - pro_plan
                  - addon_feature
                type: array
                items:
                  type: string
              stripe_id:
                description: The Stripe invoice ID
                example: in_1A2B3C4D5E6F7G8H
                type: string
              status:
                description: The status of the invoice
                example: paid
                type: string
              total:
                description: The total amount of the invoice
                example: 2999
                type: number
              currency:
                description: The currency code for the invoice
                example: usd
                type: string
              created_at:
                description: Timestamp when the invoice was created
                example: 1759247877000
                type: number
              hosted_invoice_url:
                description: URL to the Stripe-hosted invoice page
                example: https://invoice.stripe.com/i/acct_123/test_456
                anyOf:
                  - type: string
                  - type: "null"
            required:
              - product_ids
              - stripe_id
              - status
              - total
              - currency
              - created_at
            additionalProperties: false
        entities:
          type: array
          items:
            type: object
            properties:
              id:
                description: The unique identifier of the entity
                example: <string>
                anyOf:
                  - type: string
                  - type: "null"
              name:
                description: The name of the entity
                example: <string>
                anyOf:
                  - type: string
                  - type: "null"
              customer_id:
                description: The customer ID this entity belongs to
                example: <string>
                anyOf:
                  - type: string
                  - type: "null"
              feature_id:
                anyOf:
                  - type: string
                  - type: "null"
              created_at:
                description: Unix timestamp when the entity was created
                example: 1686168121
                type: number
              env:
                description: The environment (sandbox/live)
                example: live
                type: string
                enum:
                  - sandbox
                  - live
            required:
              - id
              - name
              - created_at
              - env
            additionalProperties: false
        trials_used:
          type: array
          items:
            type: object
            properties:
              product_id:
                type: string
              customer_id:
                type: string
              fingerprint:
                anyOf:
                  - type: string
                  - type: "null"
            required:
              - product_id
              - customer_id
            additionalProperties: false
        rewards:
          anyOf:
            - type: object
              properties:
                discounts:
                  description: Array of active discounts applied to the customer
                  example:
                    - id: disc_123456
                      name: SUMMER20
                      type: percentage
                      discount_value: 20
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        description: The unique identifier for this discount
                        example: disc_123456
                        type: string
                      name:
                        description: The name of the discount or coupon
                        example: SUMMER20
                        type: string
                      type:
                        description: The type of reward
                        example: percentage
                        type: string
                        enum:
                          - percentage_discount
                          - fixed_discount
                          - free_product
                          - invoice_credits
                      discount_value:
                        description: The discount value (percentage or fixed amount)
                        example: 20
                        type: number
                      duration_type:
                        description: How long the discount lasts
                        example: forever
                        type: string
                        enum:
                          - one_off
                          - months
                          - forever
                      duration_value:
                        description: Number of billing periods the discount applies for repeating
                          durations
                        example: 3
                        anyOf:
                          - type: number
                          - type: "null"
                      currency:
                        description: The currency code for fixed amount discounts
                        example: usd
                        anyOf:
                          - type: string
                          - type: "null"
                      start:
                        description: Timestamp when the discount becomes active
                        example: 1759247877000
                        anyOf:
                          - type: number
                          - type: "null"
                      end:
                        description: Timestamp when the discount expires
                        example: 1761839877000
                        anyOf:
                          - type: number
                          - type: "null"
                      subscription_id:
                        description: The Stripe subscription ID this discount is applied to
                        example: sub_1A2B3C4D5E6F7G8H
                        anyOf:
                          - type: string
                          - type: "null"
                      total_discount_amount:
                        description: Total amount saved from this discount
                        example: 599
                        anyOf:
                          - type: number
                          - type: "null"
                    required:
                      - id
                      - name
                      - type
                      - discount_value
                      - duration_type
                    additionalProperties: false
              required:
                - discounts
              additionalProperties: false
            - type: "null"
        referrals:
          type: array
          items:
            type: object
            properties:
              program_id:
                type: string
              customer:
                type: object
                properties:
                  id:
                    type: string
                  name:
                    anyOf:
                      - type: string
                      - type: "null"
                  email:
                    anyOf:
                      - type: string
                      - type: "null"
                required:
                  - id
                additionalProperties: false
              reward_applied:
                type: boolean
              created_at:
                type: number
            required:
              - program_id
              - customer
              - reward_applied
              - created_at
            additionalProperties: false
        upcoming_invoice:
          anyOf:
            - type: object
              properties:
                lines:
                  type: array
                  items:
                    type: object
                    properties:
                      product_id:
                        anyOf:
                          - type: string
                          - type: "null"
                      description:
                        type: string
                      amount:
                        type: number
                    required:
                      - description
                      - amount
                    additionalProperties: false
                discounts:
                  type: array
                  items:
                    type: object
                    properties:
                      id:
                        description: The unique identifier for this discount
                        example: disc_123456
                        type: string
                      name:
                        description: The name of the discount or coupon
                        example: SUMMER20
                        type: string
                      type:
                        description: The type of reward
                        example: percentage
                        type: string
                        enum:
                          - percentage_discount
                          - fixed_discount
                          - free_product
                          - invoice_credits
                      discount_value:
                        description: The discount value (percentage or fixed amount)
                        example: 20
                        type: number
                      duration_type:
                        description: How long the discount lasts
                        example: forever
                        type: string
                        enum:
                          - one_off
                          - months
                          - forever
                      duration_value:
                        description: Number of billing periods the discount applies for repeating
                          durations
                        example: 3
                        anyOf:
                          - type: number
                          - type: "null"
                      currency:
                        description: The currency code for fixed amount discounts
                        example: usd
                        anyOf:
                          - type: string
                          - type: "null"
                      start:
                        description: Timestamp when the discount becomes active
                        example: 1759247877000
                        anyOf:
                          - type: number
                          - type: "null"
                      end:
                        description: Timestamp when the discount expires
                        example: 1761839877000
                        anyOf:
                          - type: number
                          - type: "null"
                      subscription_id:
                        description: The Stripe subscription ID this discount is applied to
                        example: sub_1A2B3C4D5E6F7G8H
                        anyOf:
                          - type: string
                          - type: "null"
                      total_discount_amount:
                        description: Total amount saved from this discount
                        example: 599
                        anyOf:
                          - type: number
                          - type: "null"
                    required:
                      - id
                      - name
                      - type
                      - discount_value
                      - duration_type
                    additionalProperties: false
                subtotal:
                  type: number
                total:
                  type: number
                currency:
                  type: string
              required:
                - lines
                - discounts
                - subtotal
                - total
                - currency
              additionalProperties: false
            - type: "null"
        payment_method:
          anyOf:
            - {}
            - type: "null"
      required:
        - id
        - created_at
        - name
        - email
        - fingerprint
        - stripe_id
        - env
        - metadata
        - products
        - features
      additionalProperties: false
    CustomerFeature:
      description: Customer feature object returned by the API
      type: object
      properties:
        id:
          description: The unique identifier of the feature
          example: feature_123
          type: string
        type:
          description: The type of the feature
          example: single_use
          type: string
          enum:
            - static
            - boolean
            - single_use
            - continuous_use
            - credit_system
        name:
          description: The name of the feature
          example: API Calls
          anyOf:
            - type: string
            - type: "null"
        interval:
          description: The billing interval or 'multiple' if the feature has multiple
            intervals
          example: month
          anyOf:
            - anyOf:
                - type: string
                  enum:
                    - lifetime
                    - minute
                    - hour
                    - day
                    - week
                    - month
                    - quarter
                    - semi_annual
                    - year
                - type: string
                  const: multiple
            - type: "null"
        interval_count:
          description: The number of intervals between resets
          example: 1
          anyOf:
            - type: number
            - type: "null"
        unlimited:
          description: Whether the feature has unlimited usage
          example: false
          anyOf:
            - type: boolean
            - type: "null"
        balance:
          description: The remaining balance for this feature
          example: 500
          anyOf:
            - type: number
            - type: "null"
        usage:
          description: The current usage amount
          example: 250
          anyOf:
            - type: number
            - type: "null"
        included_usage:
          description: The amount of usage included
          example: 1000
          anyOf:
            - type: number
            - type: "null"
        next_reset_at:
          description: Timestamp when the usage resets
          example: 1759247877000
          anyOf:
            - type: number
            - type: "null"
        overage_allowed:
          description: Whether overage usage beyond the limit is allowed
          example: true
          anyOf:
            - type: boolean
            - type: "null"
        breakdown:
          description: Detailed breakdown by interval for features with multiple intervals
          example:
            - interval: month
              interval_count: 1
              balance: 500
              usage: 250
          anyOf:
            - type: array
              items:
                type: object
                properties:
                  interval:
                    description: The billing interval for this feature breakdown
                    example: month
                    type: string
                    enum:
                      - lifetime
                      - minute
                      - hour
                      - day
                      - week
                      - month
                      - quarter
                      - semi_annual
                      - year
                  interval_count:
                    description: The number of intervals between resets
                    example: 1
                    anyOf:
                      - type: number
                      - type: "null"
                  balance:
                    description: The remaining balance for this interval
                    example: 500
                    anyOf:
                      - type: number
                      - type: "null"
                  usage:
                    description: The current usage amount
                    example: 250
                    anyOf:
                      - type: number
                      - type: "null"
                  included_usage:
                    description: The amount of usage included in this interval
                    example: 1000
                    anyOf:
                      - type: number
                      - type: "null"
                  next_reset_at:
                    description: Timestamp when the usage resets
                    example: 1759247877000
                    anyOf:
                      - type: number
                      - type: "null"
                  usage_limit:
                    description: The maximum usage allowed
                    example: 1000
                    anyOf:
                      - type: number
                      - type: "null"
                  rollovers:
                    description: Array of rollover balances from previous periods
                    example:
                      - balance: 100
                        expires_at: 1759247877000
                    anyOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            balance:
                              description: The remaining balance amount that has rolled over
                              example: 100
                              type: number
                            expires_at:
                              description: Timestamp when the rollover balance expires
                              example: 1759247877000
                              type: number
                          required:
                            - balance
                            - expires_at
                          additionalProperties: false
                      - type: "null"
                required:
                  - interval
                additionalProperties: false
            - type: "null"
        credit_schema:
          description: Credit conversion schema for credit system features
          example:
            - feature_id: feature_123
              credit_amount: 10
          anyOf:
            - type: array
              items:
                type: object
                properties:
                  feature_id:
                    description: The ID of the feature that credits are applied to
                    example: feature_123
                    type: string
                  credit_amount:
                    description: The amount of credits applied per usage
                    example: 10
                    type: number
                required:
                  - feature_id
                  - credit_amount
                additionalProperties: false
            - type: "null"
        usage_limit:
          description: The maximum usage allowed
          example: 1000
          anyOf:
            - type: number
            - type: "null"
        rollovers:
          description: Array of rollover balances from previous periods
          example:
            - balance: 100
              expires_at: 1759247877000
          anyOf:
            - type: array
              items:
                type: object
                properties:
                  balance:
                    description: The remaining balance amount that has rolled over
                    example: 100
                    type: number
                  expires_at:
                    description: Timestamp when the rollover balance expires
                    example: 1759247877000
                    type: number
                required:
                  - balance
                  - expires_at
                additionalProperties: false
            - type: "null"
      required:
        - id
        - type
      additionalProperties: false
    Feature:
      description: Feature object returned by the API
      type: object
      properties:
        id:
          description: The unique identifier of the feature
          example: <string>
          type: string
        name:
          description: The name of the feature
          example: <string>
          anyOf:
            - type: string
            - type: "null"
        type:
          description: The type of the feature
          example: <string>
          type: string
          enum:
            - static
            - boolean
            - single_use
            - continuous_use
            - credit_system
        display:
          description: Display names for the feature
          example:
            singular: <string>
            plural: <string>
          anyOf:
            - type: object
              properties:
                singular:
                  type: string
                plural:
                  type: string
              required:
                - singular
                - plural
              additionalProperties: false
            - type: "null"
        credit_schema:
          description: Credit cost schema for credit system features
          example:
            - metered_feature_id: <string>
              credit_cost: 123
          anyOf:
            - type: array
              items:
                type: object
                properties:
                  metered_feature_id:
                    type: string
                  credit_cost:
                    type: number
                required:
                  - metered_feature_id
                  - credit_cost
                additionalProperties: false
            - type: "null"
        archived:
          description: Whether or not the feature is archived
          example: false
          anyOf:
            - type: boolean
            - type: "null"
      required:
        - id
        - type
      additionalProperties: false
    Entity:
      description: Entity object returned by the API
      type: object
      properties:
        id:
          description: The unique identifier of the entity
          example: <string>
          anyOf:
            - type: string
            - type: "null"
        name:
          description: The name of the entity
          example: <string>
          anyOf:
            - type: string
            - type: "null"
        customer_id:
          description: The customer ID this entity belongs to
          example: <string>
          anyOf:
            - type: string
            - type: "null"
        feature_id:
          anyOf:
            - type: string
            - type: "null"
        created_at:
          description: Unix timestamp when the entity was created
          example: 1686168121
          type: number
        env:
          description: The environment (sandbox/live)
          example: live
          type: string
          enum:
            - sandbox
            - live
        products:
          description: Products associated with this entity
          example: []
          type: array
          items:
            $ref: "#/components/schemas/CustomerProduct"
        features:
          description: Features associated with this entity
          example: {}
          type: object
          propertyNames:
            type: string
          additionalProperties:
            type: object
            properties:
              id:
                description: The unique identifier of the feature
                example: feature_123
                type: string
              type:
                description: The type of the feature
                example: single_use
                type: string
                enum:
                  - static
                  - boolean
                  - single_use
                  - continuous_use
                  - credit_system
              name:
                description: The name of the feature
                example: API Calls
                anyOf:
                  - type: string
                  - type: "null"
              interval:
                description: The billing interval or 'multiple' if the feature has multiple
                  intervals
                example: month
                anyOf:
                  - anyOf:
                      - type: string
                        enum:
                          - lifetime
                          - minute
                          - hour
                          - day
                          - week
                          - month
                          - quarter
                          - semi_annual
                          - year
                      - type: string
                        const: multiple
                  - type: "null"
              interval_count:
                description: The number of intervals between resets
                example: 1
                anyOf:
                  - type: number
                  - type: "null"
              unlimited:
                description: Whether the feature has unlimited usage
                example: false
                anyOf:
                  - type: boolean
                  - type: "null"
              balance:
                description: The remaining balance for this feature
                example: 500
                anyOf:
                  - type: number
                  - type: "null"
              usage:
                description: The current usage amount
                example: 250
                anyOf:
                  - type: number
                  - type: "null"
              included_usage:
                description: The amount of usage included
                example: 1000
                anyOf:
                  - type: number
                  - type: "null"
              next_reset_at:
                description: Timestamp when the usage resets
                example: 1759247877000
                anyOf:
                  - type: number
                  - type: "null"
              overage_allowed:
                description: Whether overage usage beyond the limit is allowed
                example: true
                anyOf:
                  - type: boolean
                  - type: "null"
              breakdown:
                description: Detailed breakdown by interval for features with multiple intervals
                example:
                  - interval: month
                    interval_count: 1
                    balance: 500
                    usage: 250
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        interval:
                          description: The billing interval for this feature breakdown
                          example: month
                          type: string
                          enum:
                            - lifetime
                            - minute
                            - hour
                            - day
                            - week
                            - month
                            - quarter
                            - semi_annual
                            - year
                        interval_count:
                          description: The number of intervals between resets
                          example: 1
                          anyOf:
                            - type: number
                            - type: "null"
                        balance:
                          description: The remaining balance for this interval
                          example: 500
                          anyOf:
                            - type: number
                            - type: "null"
                        usage:
                          description: The current usage amount
                          example: 250
                          anyOf:
                            - type: number
                            - type: "null"
                        included_usage:
                          description: The amount of usage included in this interval
                          example: 1000
                          anyOf:
                            - type: number
                            - type: "null"
                        next_reset_at:
                          description: Timestamp when the usage resets
                          example: 1759247877000
                          anyOf:
                            - type: number
                            - type: "null"
                        usage_limit:
                          description: The maximum usage allowed
                          example: 1000
                          anyOf:
                            - type: number
                            - type: "null"
                        rollovers:
                          description: Array of rollover balances from previous periods
                          example:
                            - balance: 100
                              expires_at: 1759247877000
                          anyOf:
                            - type: array
                              items:
                                type: object
                                properties:
                                  balance:
                                    description: The remaining balance amount that has rolled over
                                    example: 100
                                    type: number
                                  expires_at:
                                    description: Timestamp when the rollover balance expires
                                    example: 1759247877000
                                    type: number
                                required:
                                  - balance
                                  - expires_at
                                additionalProperties: false
                            - type: "null"
                      required:
                        - interval
                      additionalProperties: false
                  - type: "null"
              credit_schema:
                description: Credit conversion schema for credit system features
                example:
                  - feature_id: feature_123
                    credit_amount: 10
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        feature_id:
                          description: The ID of the feature that credits are applied to
                          example: feature_123
                          type: string
                        credit_amount:
                          description: The amount of credits applied per usage
                          example: 10
                          type: number
                      required:
                        - feature_id
                        - credit_amount
                      additionalProperties: false
                  - type: "null"
              usage_limit:
                description: The maximum usage allowed
                example: 1000
                anyOf:
                  - type: number
                  - type: "null"
              rollovers:
                description: Array of rollover balances from previous periods
                example:
                  - balance: 100
                    expires_at: 1759247877000
                anyOf:
                  - type: array
                    items:
                      type: object
                      properties:
                        balance:
                          description: The remaining balance amount that has rolled over
                          example: 100
                          type: number
                        expires_at:
                          description: Timestamp when the rollover balance expires
                          example: 1759247877000
                          type: number
                      required:
                        - balance
                        - expires_at
                      additionalProperties: false
                  - type: "null"
            required:
              - id
              - type
            additionalProperties: false
        invoices:
          description: Invoices for this entity (only included when expand=invoices)
          example: []
          type: array
          items:
            type: object
            properties:
              product_ids:
                description: Array of product IDs included in this invoice
                example:
                  - pro_plan
                  - addon_feature
                type: array
                items:
                  type: string
              stripe_id:
                description: The Stripe invoice ID
                example: in_1A2B3C4D5E6F7G8H
                type: string
              status:
                description: The status of the invoice
                example: paid
                type: string
              total:
                description: The total amount of the invoice
                example: 2999
                type: number
              currency:
                description: The currency code for the invoice
                example: usd
                type: string
              created_at:
                description: Timestamp when the invoice was created
                example: 1759247877000
                type: number
              hosted_invoice_url:
                description: URL to the Stripe-hosted invoice page
                example: https://invoice.stripe.com/i/acct_123/test_456
                anyOf:
                  - type: string
                  - type: "null"
            required:
              - product_ids
              - stripe_id
              - status
              - total
              - currency
              - created_at
            additionalProperties: false
      required:
        - id
        - name
        - created_at
        - env
      additionalProperties: false
  securitySchemes:
    secretKey:
      type: http
      scheme: bearer
      bearerFormat: JWT
