openapi: 3.1.0
info:
  title: Autumn API
  version: 1.2.0
servers:
  - url: https://api.useautumn.com
    description: Production server
security:
  - secretKey: []
paths:
  /products:
    get:
      summary: List Products
      tags:
        - products
      parameters:
        - in: query
          name: customer_id
          schema:
            type: string
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  list:
                    type: array
                    items:
                      $ref: '#/components/schemas/Product'
                required:
                  - list
                additionalProperties: false
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Autumn from '@useautumn/sdk';

            const client = new Autumn({
              secretKey: 'My Secret Key',
            });

            const products = await client.products.list();

            console.log(products.list);
        - lang: Python
          source: |-
            from autumn import Autumn

            client = Autumn(
                secret_key="My Secret Key",
            )
            products = client.products.list()
            print(products.list)
    post:
      summary: Create Product
      tags:
        - products
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  minLength: 1
                  pattern: ^[a-zA-Z0-9_-]+$
                name:
                  type: string
                is_add_on:
                  default: false
                  type: boolean
                is_default:
                  default: false
                  type: boolean
                version:
                  type: number
                group:
                  default: ''
                  anyOf:
                    - type: string
                    - type: 'null'
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      feature_id:
                        anyOf:
                          - type: string
                          - type: 'null'
                      feature_type:
                        anyOf:
                          - type: string
                            enum:
                              - single_use
                              - continuous_use
                              - boolean
                              - static
                          - type: 'null'
                      included_usage:
                        anyOf:
                          - anyOf:
                              - type: number
                              - type: string
                                const: inf
                          - type: 'null'
                      interval:
                        anyOf:
                          - type: string
                            enum:
                              - minute
                              - hour
                              - day
                              - week
                              - month
                              - quarter
                              - semi_annual
                              - year
                          - type: 'null'
                      interval_count:
                        anyOf:
                          - type: number
                          - type: 'null'
                      entity_feature_id:
                        anyOf:
                          - type: string
                          - type: 'null'
                      usage_model:
                        anyOf:
                          - type: string
                            enum:
                              - prepaid
                              - pay_per_use
                          - type: 'null'
                      price:
                        anyOf:
                          - type: number
                          - type: 'null'
                      tiers:
                        anyOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                to:
                                  description: The maximum amount of usage for this tier.
                                  example: 100
                                  anyOf:
                                    - type: number
                                    - type: string
                                      const: inf
                                amount:
                                  description: The price of the product item for this tier.
                                  example: 10
                                  type: number
                              required:
                                - to
                                - amount
                          - type: 'null'
                      billing_units:
                        anyOf:
                          - type: number
                          - type: 'null'
                      usage_limit:
                        anyOf:
                          - type: number
                          - type: 'null'
                      reset_usage_when_enabled:
                        anyOf:
                          - type: boolean
                          - type: 'null'
                      config:
                        anyOf:
                          - type: object
                            properties:
                              on_increase:
                                anyOf:
                                  - type: string
                                    enum:
                                      - bill_immediately
                                      - prorate_immediately
                                      - prorate_next_cycle
                                      - bill_next_cycle
                                  - type: 'null'
                              on_decrease:
                                anyOf:
                                  - type: string
                                    enum:
                                      - prorate
                                      - prorate_immediately
                                      - prorate_next_cycle
                                      - none
                                      - no_prorations
                                  - type: 'null'
                              rollover:
                                anyOf:
                                  - type: object
                                    properties:
                                      max:
                                        anyOf:
                                          - type: number
                                          - type: 'null'
                                      duration:
                                        default: month
                                        type: string
                                        enum:
                                          - month
                                          - forever
                                      length:
                                        type: number
                                    required:
                                      - max
                                      - length
                                  - type: 'null'
                          - type: 'null'
                      display:
                        anyOf:
                          - type: object
                            properties:
                              primary_text:
                                type: string
                              secondary_text:
                                anyOf:
                                  - type: string
                                  - type: 'null'
                            required:
                              - primary_text
                          - type: 'null'
                      created_at:
                        anyOf:
                          - type: number
                          - type: 'null'
                      entitlement_id:
                        anyOf:
                          - type: string
                          - type: 'null'
                      price_id:
                        anyOf:
                          - type: string
                          - type: 'null'
                      price_config:
                        anyOf:
                          - {}
                          - type: 'null'
                    required:
                      - interval
                free_trial:
                  anyOf:
                    - type: object
                      properties:
                        length:
                          anyOf:
                            - type: string
                            - type: number
                        unique_fingerprint:
                          default: false
                          type: boolean
                        duration:
                          default: day
                          type: string
                          enum:
                            - day
                            - month
                            - year
                        card_required:
                          default: true
                          type: boolean
                      required:
                        - length
                    - type: 'null'
              required:
                - id
                - name
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Autumn from '@useautumn/sdk';

            const client = new Autumn({
              secretKey: 'My Secret Key',
            });

            const product = await client.products.create({ id: 'id', name: 'name' });

            console.log(product.id);
        - lang: Python
          source: |-
            from autumn import Autumn

            client = Autumn(
                secret_key="My Secret Key",
            )
            product = client.products.create(
                id="id",
                name="name",
            )
            print(product.id)
  /products/{product_id}:
    get:
      summary: Get Product
      tags:
        - products
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          required: true
      responses:
        '200':
          description: Product retrieved successfully
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          description: Product not found
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Autumn from '@useautumn/sdk';

            const client = new Autumn({
              secretKey: 'My Secret Key',
            });

            const product = await client.products.get('product_id');

            console.log(product.id);
        - lang: Python
          source: |-
            from autumn import Autumn

            client = Autumn(
                secret_key="My Secret Key",
            )
            product = client.products.get(
                "product_id",
            )
            print(product.id)
    patch:
      summary: Update Product
      tags:
        - products
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          required: true
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                id:
                  type: string
                  minLength: 1
                  pattern: ^[a-zA-Z0-9_-]+$
                name:
                  type: string
                is_add_on:
                  type: boolean
                is_default:
                  type: boolean
                group:
                  anyOf:
                    - type: string
                      minLength: 1
                    - type: 'null'
                archived:
                  type: boolean
                items:
                  type: array
                  items:
                    type: object
                    properties:
                      feature_id:
                        anyOf:
                          - type: string
                          - type: 'null'
                      feature_type:
                        anyOf:
                          - type: string
                            enum:
                              - single_use
                              - continuous_use
                              - boolean
                              - static
                          - type: 'null'
                      included_usage:
                        anyOf:
                          - anyOf:
                              - type: number
                              - type: string
                                const: inf
                          - type: 'null'
                      interval:
                        anyOf:
                          - type: string
                            enum:
                              - minute
                              - hour
                              - day
                              - week
                              - month
                              - quarter
                              - semi_annual
                              - year
                          - type: 'null'
                      interval_count:
                        anyOf:
                          - type: number
                          - type: 'null'
                      entity_feature_id:
                        anyOf:
                          - type: string
                          - type: 'null'
                      usage_model:
                        anyOf:
                          - type: string
                            enum:
                              - prepaid
                              - pay_per_use
                          - type: 'null'
                      price:
                        anyOf:
                          - type: number
                          - type: 'null'
                      tiers:
                        anyOf:
                          - type: array
                            items:
                              type: object
                              properties:
                                to:
                                  description: The maximum amount of usage for this tier.
                                  example: 100
                                  anyOf:
                                    - type: number
                                    - type: string
                                      const: inf
                                amount:
                                  description: The price of the product item for this tier.
                                  example: 10
                                  type: number
                              required:
                                - to
                                - amount
                          - type: 'null'
                      billing_units:
                        anyOf:
                          - type: number
                          - type: 'null'
                      usage_limit:
                        anyOf:
                          - type: number
                          - type: 'null'
                      reset_usage_when_enabled:
                        anyOf:
                          - type: boolean
                          - type: 'null'
                      config:
                        anyOf:
                          - type: object
                            properties:
                              on_increase:
                                anyOf:
                                  - type: string
                                    enum:
                                      - bill_immediately
                                      - prorate_immediately
                                      - prorate_next_cycle
                                      - bill_next_cycle
                                  - type: 'null'
                              on_decrease:
                                anyOf:
                                  - type: string
                                    enum:
                                      - prorate
                                      - prorate_immediately
                                      - prorate_next_cycle
                                      - none
                                      - no_prorations
                                  - type: 'null'
                              rollover:
                                anyOf:
                                  - type: object
                                    properties:
                                      max:
                                        anyOf:
                                          - type: number
                                          - type: 'null'
                                      duration:
                                        default: month
                                        type: string
                                        enum:
                                          - month
                                          - forever
                                      length:
                                        type: number
                                    required:
                                      - max
                                      - length
                                  - type: 'null'
                          - type: 'null'
                      display:
                        anyOf:
                          - type: object
                            properties:
                              primary_text:
                                type: string
                              secondary_text:
                                anyOf:
                                  - type: string
                                  - type: 'null'
                            required:
                              - primary_text
                          - type: 'null'
                      created_at:
                        anyOf:
                          - type: number
                          - type: 'null'
                      entitlement_id:
                        anyOf:
                          - type: string
                          - type: 'null'
                      price_id:
                        anyOf:
                          - type: string
                          - type: 'null'
                      price_config:
                        anyOf:
                          - {}
                          - type: 'null'
                    required:
                      - interval
                free_trial:
                  anyOf:
                    - type: object
                      properties:
                        length:
                          anyOf:
                            - type: string
                            - type: number
                        unique_fingerprint:
                          default: false
                          type: boolean
                        duration:
                          default: day
                          type: string
                          enum:
                            - day
                            - month
                            - year
                        card_required:
                          default: true
                          type: boolean
                      required:
                        - length
                    - type: 'null'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/Product'
        '404':
          description: Product not found
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Autumn from '@useautumn/sdk';

            const client = new Autumn({
              secretKey: 'My Secret Key',
            });

            const product = await client.products.update('product_id');

            console.log(product.id);
        - lang: Python
          source: |-
            from autumn import Autumn

            client = Autumn(
                secret_key="My Secret Key",
            )
            product = client.products.update(
                product_id="product_id",
            )
            print(product.id)
    delete:
      summary: Delete Product
      tags:
        - products
      parameters:
        - in: path
          name: product_id
          schema:
            type: string
          required: true
        - in: query
          name: all_versions
          schema:
            type: boolean
      responses:
        '200':
          description: Product deleted successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    type: boolean
                required:
                  - success
                additionalProperties: false
        '400':
          description: Product cannot be deleted because it has been attached to customers
        '404':
          description: Product not found
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Autumn from '@useautumn/sdk';

            const client = new Autumn({
              secretKey: 'My Secret Key',
            });

            const product = await client.products.delete('product_id');

            console.log(product.success);
        - lang: Python
          source: |-
            from autumn import Autumn

            client = Autumn(
                secret_key="My Secret Key",
            )
            product = client.products.delete(
                product_id="product_id",
            )
            print(product.success)
  /attach:
    post:
      summary: Attach Product
      description: >-
        Enables a product for a customer and processes payment if their payment method is already on file.


        Use this when the customer already has a payment method saved. For new customers without payment info,
        use `checkout` instead.


        @example

        ```typescript

        // Attach a product to a customer

        const response = await client.attach({
            "customer_id": "cus_123",
            "product_id": "pro_plan"
          });
        ```


        @param body.customer_id - Your unique identifier for the customer

        @param body.product_id - Product ID, set when creating the product in the Autumn dashboard

        @param body.entity_id - If attaching a product to an entity, can be used to auto create the entity

        @param body.customer_data - If auto creating a customer, the properties from this field will be used.

        @param body.entity_data - If attaching a product to an entity and auto creating the entity, the
        properties from this field will be used. feature_id is required.

        @param body.product_ids - Can be used to attach multiple products to the customer at once. For
        example, attaching a main product and an add-on.

        @param body.options - Pass in quantities for prepaid features

        @param body.free_trial - If the product has a free trial, this field can be used to disable it when
        attaching (by passing in false)

        @param body.success_url - URL to redirect to after the purchase is successful

        @param body.force_checkout - Always return a Stripe Checkout URL, even if the customer's card is
        already on file

        @param body.checkout_session_params - Additional parameters to pass onto Stripe when creating the
        checkout session

        @param body.reward - An Autumn promo_code or reward_id to apply at checkout


        @see {@link https://docs.useautumn.com/api-reference/core/attach Product Attachments}
      tags:
        - core
      requestBody:
        content:
          application/json:
            schema:
              example:
                customer_id: cus_123
                product_id: pro
              type: object
              properties:
                customer_id:
                  description: Your unique identifier for the customer
                  type: string
                product_id:
                  description: Product ID, set when creating the product in the Autumn dashboard
                  anyOf:
                    - type: string
                    - type: 'null'
                entity_id:
                  description: If attaching a product to an entity, can be used to auto create the entity
                  anyOf:
                    - type: string
                    - type: 'null'
                customer_data:
                  description: If auto creating a customer, the properties from this field will be used.
                  type: object
                  properties:
                    name:
                      description: Customer's name
                      example: John Doe
                      anyOf:
                        - type: string
                        - type: 'null'
                    email:
                      description: Customer's email address
                      example: john@example.com
                      anyOf:
                        - type: string
                        - type: 'null'
                    fingerprint:
                      description: >-
                        Unique identifier (eg, serial number) to detect duplicate customers and prevent free
                        trial abuse
                      example: fp_123abc
                      anyOf:
                        - type: string
                        - type: 'null'
                    metadata:
                      description: Additional metadata for the customer
                      example:
                        company: Acme Inc
                      anyOf:
                        - type: object
                          propertyNames: {}
                          additionalProperties: {}
                        - type: 'null'
                    stripe_id:
                      description: Stripe customer ID if you already have one
                      example: cus_stripe123
                      anyOf:
                        - type: string
                        - type: 'null'
                entity_data:
                  description: >-
                    If attaching a product to an entity and auto creating the entity, the properties from this
                    field will be used. feature_id is required.
                  type: object
                  properties:
                    feature_id:
                      description: The feature ID that this entity is associated with
                      example: seats
                      type: string
                    name:
                      description: Name of the entity
                      example: Team Alpha
                      type: string
                  required:
                    - feature_id
                product_ids:
                  description: >-
                    Can be used to attach multiple products to the customer at once. For example, attaching a
                    main product and an add-on.
                  anyOf:
                    - minItems: 1
                      type: array
                      items:
                        type: string
                    - type: 'null'
                options:
                  description: Pass in quantities for prepaid features
                  anyOf:
                    - type: array
                      items:
                        type: object
                        properties:
                          feature_id:
                            type: string
                          quantity:
                            type: number
                          upcoming_quantity:
                            anyOf:
                              - type: number
                              - type: 'null'
                          adjustable_quantity:
                            anyOf:
                              - type: boolean
                              - type: 'null'
                          internal_feature_id:
                            anyOf:
                              - type: string
                              - type: 'null'
                        required:
                          - feature_id
                          - quantity
                    - type: 'null'
                free_trial:
                  description: >-
                    If the product has a free trial, this field can be used to disable it when attaching (by
                    passing in false)
                  type: boolean
                success_url:
                  description: URL to redirect to after the purchase is successful
                  type: string
                force_checkout:
                  description: Always return a Stripe Checkout URL, even if the customer's card is already on file
                  type: boolean
                checkout_session_params:
                  description: Additional parameters to pass onto Stripe when creating the checkout session
                reward:
                  description: An Autumn promo_code or reward_id to apply at checkout
                  anyOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                invoice:
                  type: boolean
                setup_payment:
                  type: boolean
              required:
                - customer_id
            examples:
              basic:
                summary: Attach a product immediately
                description: Enable a product for a customer with immediate activation
                value:
                  customer_id: cus_123
                  product_id: pro_plan
      responses:
        '200':
          description: Product attached successfully
          content:
            application/json:
              schema:
                type: object
                properties:
                  customer_id:
                    type: string
                  product_ids:
                    type: array
                    items:
                      type: string
                  code:
                    type: string
                  message:
                    type: string
                  checkout_url:
                    anyOf:
                      - type: string
                      - type: 'null'
                  invoice:
                    anyOf:
                      - {}
                      - type: 'null'
                required:
                  - customer_id
                  - product_ids
                  - code
                  - message
                additionalProperties: false
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Autumn from '@useautumn/sdk';

            const client = new Autumn({
              secretKey: 'My Secret Key',
            });

            const response = await client.attach({ customer_id: 'cus_123', product_id: 'pro_plan' });

            console.log(response.customer_id);
        - lang: Python
          source: |-
            from autumn import Autumn

            client = Autumn(
                secret_key="My Secret Key",
            )
            response = client.attach(
                customer_id="cus_123",
                product_id="pro_plan",
            )
            print(response.customer_id)
  /checkout:
    post:
      summary: Checkout
      description: >-
        Creates a checkout session for a customer to purchase a product with payment collection.


        Use this for new customers or when payment info is needed. For customers with existing payment
        methods, use `attach` instead.


        @example

        ```typescript

        // Create a checkout session

        const response = await client.checkout({
            "customer_id": "cus_123",
            "product_id": "pro_plan"
          });
        ```


        @param body.customer_id - Your unique identifier for the customer

        @param body.product_id - Product ID, set when creating the product in the Autumn dashboard

        @param body.entity_id - If attaching a product to an entity, can be used to auto create the entity

        @param body.customer_data - If auto creating a customer, the properties from this field will be used.

        @param body.entity_data - If attaching a product to an entity and auto creating the entity, the
        properties from this field will be used. feature_id is required.

        @param body.product_ids - Can be used to attach multiple products to the customer at once. For
        example, attaching a main product and an add-on.

        @param body.options - Pass in quantities for prepaid features

        @param body.free_trial - If the product has a free trial, this field can be used to disable it when
        attaching (by passing in false)

        @param body.success_url - URL to redirect to after the purchase is successful

        @param body.force_checkout - Always return a Stripe Checkout URL, even if the customer's card is
        already on file

        @param body.checkout_session_params - Additional parameters to pass onto Stripe when creating the
        checkout session

        @param body.reward - An Autumn promo_code or reward_id to apply at checkout


        @see {@link https://docs.useautumn.com/api-reference/core/checkout Checkout Sessions}
      tags:
        - core
      requestBody:
        content:
          application/json:
            schema:
              description: >-
                Returns a Stripe Checkout URL for the customer to make a payment, or returns payment
                confirmation information.
              type: object
              properties:
                customer_id:
                  description: Your unique identifier for the customer
                  type: string
                product_id:
                  description: Product ID, set when creating the product in the Autumn dashboard
                  anyOf:
                    - type: string
                    - type: 'null'
                entity_id:
                  description: If attaching a product to an entity, can be used to auto create the entity
                  anyOf:
                    - type: string
                    - type: 'null'
                customer_data:
                  description: If auto creating a customer, the properties from this field will be used.
                  type: object
                  properties:
                    name:
                      description: Customer's name
                      example: John Doe
                      anyOf:
                        - type: string
                        - type: 'null'
                    email:
                      description: Customer's email address
                      example: john@example.com
                      anyOf:
                        - type: string
                        - type: 'null'
                    fingerprint:
                      description: >-
                        Unique identifier (eg, serial number) to detect duplicate customers and prevent free
                        trial abuse
                      example: fp_123abc
                      anyOf:
                        - type: string
                        - type: 'null'
                    metadata:
                      description: Additional metadata for the customer
                      example:
                        company: Acme Inc
                      anyOf:
                        - type: object
                          propertyNames: {}
                          additionalProperties: {}
                        - type: 'null'
                    stripe_id:
                      description: Stripe customer ID if you already have one
                      example: cus_stripe123
                      anyOf:
                        - type: string
                        - type: 'null'
                entity_data:
                  description: >-
                    If attaching a product to an entity and auto creating the entity, the properties from this
                    field will be used. feature_id is required.
                  type: object
                  properties:
                    feature_id:
                      description: The feature ID that this entity is associated with
                      example: seats
                      type: string
                    name:
                      description: Name of the entity
                      example: Team Alpha
                      type: string
                  required:
                    - feature_id
                product_ids:
                  description: >-
                    Can be used to attach multiple products to the customer at once. For example, attaching a
                    main product and an add-on.
                  anyOf:
                    - minItems: 1
                      type: array
                      items:
                        type: string
                    - type: 'null'
                options:
                  description: Pass in quantities for prepaid features
                  anyOf:
                    - type: array
                      items:
                        type: object
                        properties:
                          feature_id:
                            type: string
                          quantity:
                            type: number
                          upcoming_quantity:
                            anyOf:
                              - type: number
                              - type: 'null'
                          adjustable_quantity:
                            anyOf:
                              - type: boolean
                              - type: 'null'
                          internal_feature_id:
                            anyOf:
                              - type: string
                              - type: 'null'
                        required:
                          - feature_id
                          - quantity
                    - type: 'null'
                free_trial:
                  description: >-
                    If the product has a free trial, this field can be used to disable it when attaching (by
                    passing in false)
                  type: boolean
                success_url:
                  description: URL to redirect to after the purchase is successful
                  type: string
                force_checkout:
                  description: Always return a Stripe Checkout URL, even if the customer's card is already on file
                  type: boolean
                checkout_session_params:
                  description: Additional parameters to pass onto Stripe when creating the checkout session
                reward:
                  description: An Autumn promo_code or reward_id to apply at checkout
                  anyOf:
                    - type: string
                    - type: array
                      items:
                        type: string
                invoice:
                  type: boolean
                setup_payment:
                  type: boolean
              required:
                - customer_id
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  url:
                    anyOf:
                      - type: string
                      - type: 'null'
                  customer_id:
                    type: string
                  lines:
                    type: array
                    items:
                      type: object
                      properties:
                        description:
                          type: string
                        amount:
                          type: number
                        item:
                          anyOf:
                            - $ref: '#/components/schemas/ProductItemOutput'
                            - type: 'null'
                      required:
                        - description
                        - amount
                      additionalProperties: false
                  product:
                    anyOf:
                      - type: object
                        properties:
                          id:
                            description: The ID of the product you set when creating the product
                            example: pro_plan
                            type: string
                          name:
                            description: The name of the product
                            example: Pro Plan
                            type: string
                          group:
                            description: The group of the product
                            example: product_set_1
                            anyOf:
                              - type: string
                              - type: 'null'
                          env:
                            description: The environment of the product
                            example: production
                            type: string
                            enum:
                              - sandbox
                              - live
                          is_add_on:
                            description: Whether the product is an add-on and can be purchased alongside other products
                            example: true
                            type: boolean
                          is_default:
                            description: Whether the product is the default product
                            example: true
                            type: boolean
                          archived:
                            description: Whether this product has been archived and is no longer available
                            example: false
                            type: boolean
                          version:
                            description: The version of the product
                            example: 1
                            type: number
                          created_at:
                            description: The timestamp of when the product was created in milliseconds since epoch
                            example: 1759247877000
                            type: number
                          items:
                            description: Array of product items that define the features and pricing
                            example:
                              - feature_id: <string>
                                feature_type: single_use
                                included_usage: 123
                                interval: <string>
                                usage_model: prepaid
                                price: 123
                                billing_units: 123
                                entity_feature_id: <string>
                                reset_usage_when_enabled: true
                                tiers:
                                  - to: 123
                                    amount: 123
                            type: array
                            items:
                              $ref: '#/components/schemas/ProductItemOutput'
                          free_trial:
                            description: Free trial configuration for this product, if available
                            example:
                              duration: <string>
                              length: 123
                              unique_fingerprint: true
                            anyOf:
                              - type: object
                                properties:
                                  duration:
                                    description: The duration type of the free trial
                                    example: <string>
                                    type: string
                                    enum:
                                      - day
                                      - month
                                      - year
                                  length:
                                    description: The length of the free trial
                                    example: 123
                                    type: number
                                  unique_fingerprint:
                                    description: Whether the free trial is limited to one per customer fingerprint
                                    example: true
                                    type: boolean
                                  card_required:
                                    description: Whether the free trial requires a card
                                    example: true
                                    type: boolean
                                  trial_available:
                                    description: Whether the free trial is available
                                    example: true
                                    default: true
                                    anyOf:
                                      - type: boolean
                                      - type: 'null'
                                required:
                                  - duration
                                  - length
                                  - unique_fingerprint
                                  - card_required
                                  - trial_available
                                additionalProperties: false
                              - type: 'null'
                          base_variant_id:
                            description: ID of the base variant this product is derived from
                            example: var_1234567890abcdef
                            anyOf:
                              - type: string
                              - type: 'null'
                          scenario:
                            description: Scenario context for when this product is used in attach flows
                            example: upgrade
                            type: string
                            enum:
                              - scheduled
                              - active
                              - new
                              - renew
                              - upgrade
                              - downgrade
                              - cancel
                              - expired
                              - past_due
                          properties:
                            description: Additional properties and metadata for the product
                            example:
                              is_free: false
                              is_one_off: false
                              interval_group: monthly
                              has_trial: true
                              updateable: true
                            type: object
                            properties:
                              is_free:
                                description: True if the product has no base price or usage prices
                                example: false
                                type: boolean
                              is_one_off:
                                description: True if the product only contains a one-time price
                                example: false
                                type: boolean
                              interval_group:
                                description: >-
                                  The billing interval group for recurring products (e.g., 'monthly',
                                  'yearly')
                                example: monthly
                                anyOf:
                                  - type: string
                                  - type: 'null'
                              has_trial:
                                description: True if the product includes a free trial
                                example: true
                                anyOf:
                                  - type: boolean
                                  - type: 'null'
                              updateable:
                                description: >-
                                  True if the product can be updated after creation (only applicable if there
                                  are prepaid recurring prices)
                                example: true
                                anyOf:
                                  - type: boolean
                                  - type: 'null'
                            required:
                              - is_free
                              - is_one_off
                            additionalProperties: false
                        required:
                          - id
                          - name
                          - group
                          - env
                          - is_add_on
                          - is_default
                          - archived
                          - version
                          - created_at
                          - items
                          - free_trial
                          - base_variant_id
                        additionalProperties: false
                      - type: 'null'
                  current_product:
                    anyOf:
                      - type: object
                        properties:
                          id:
                            description: The ID of the product you set when creating the product
                            example: pro_plan
                            type: string
                          name:
                            description: The name of the product
                            example: Pro Plan
                            type: string
                          group:
                            description: The group of the product
                            example: product_set_1
                            anyOf:
                              - type: string
                              - type: 'null'
                          env:
                            description: The environment of the product
                            example: production
                            type: string
                            enum:
                              - sandbox
                              - live
                          is_add_on:
                            description: Whether the product is an add-on and can be purchased alongside other products
                            example: true
                            type: boolean
                          is_default:
                            description: Whether the product is the default product
                            example: true
                            type: boolean
                          archived:
                            description: Whether this product has been archived and is no longer available
                            example: false
                            type: boolean
                          version:
                            description: The version of the product
                            example: 1
                            type: number
                          created_at:
                            description: The timestamp of when the product was created in milliseconds since epoch
                            example: 1759247877000
                            type: number
                          items:
                            description: Array of product items that define the features and pricing
                            example:
                              - feature_id: <string>
                                feature_type: single_use
                                included_usage: 123
                                interval: <string>
                                usage_model: prepaid
                                price: 123
                                billing_units: 123
                                entity_feature_id: <string>
                                reset_usage_when_enabled: true
                                tiers:
                                  - to: 123
                                    amount: 123
                            type: array
                            items:
                              $ref: '#/components/schemas/ProductItemOutput'
                          free_trial:
                            description: Free trial configuration for this product, if available
                            example:
                              duration: <string>
                              length: 123
                              unique_fingerprint: true
                            anyOf:
                              - type: object
                                properties:
                                  duration:
                                    description: The duration type of the free trial
                                    example: <string>
                                    type: string
                                    enum:
                                      - day
                                      - month
                                      - year
                                  length:
                                    description: The length of the free trial
                                    example: 123
                                    type: number
                                  unique_fingerprint:
                                    description: Whether the free trial is limited to one per customer fingerprint
                                    example: true
                                    type: boolean
                                  card_required:
                                    description: Whether the free trial requires a card
                                    example: true
                                    type: boolean
                                  trial_available:
                                    description: Whether the free trial is available
                                    example: true
                                    default: true
                                    anyOf:
                                      - type: boolean
                                      - type: 'null'
                                required:
                                  - duration
                                  - length
                                  - unique_fingerprint
                                  - card_required
                                  - trial_available
                                additionalProperties: false
                              - type: 'null'
                          base_variant_id:
                            description: ID of the base variant this product is derived from
                            example: var_1234567890abcdef
                            anyOf:
                              - type: string
                              - type: 'null'
                          scenario:
                            description: Scenario context for when this product is used in attach flows
                            example: upgrade
                            type: string
                            enum:
                              - scheduled
                              - active
                              - new
                              - renew
                              - upgrade
                              - downgrade
                              - cancel
                              - expired
                              - past_due
                          properties:
                            description: Additional properties and metadata for the product
                            example:
                              is_free: false
                              is_one_off: false
                              interval_group: monthly
                              has_trial: true
                              updateable: true
                            type: object
                            properties:
                              is_free:
                                description: True if the product has no base price or usage prices
                                example: false
                                type: boolean
                              is_one_off:
                                description: True if the product only contains a one-time price
                                example: false
                                type: boolean
                              interval_group:
                                description: >-
                                  The billing interval group for recurring products (e.g., 'monthly',
                                  'yearly')
                                example: monthly
                                anyOf:
                                  - type: string
                                  - type: 'null'
                              has_trial:
                                description: True if the product includes a free trial
                                example: true
                                anyOf:
                                  - type: boolean
                                  - type: 'null'
                              updateable:
                                description: >-
                                  True if the product can be updated after creation (only applicable if there
                                  are prepaid recurring prices)
                                example: true
                                anyOf:
                                  - type: boolean
                                  - type: 'null'
                            required:
                              - is_free
                              - is_one_off
                            additionalProperties: false
                        required:
                          - id
                          - name
                          - group
                          - env
                          - is_add_on
                          - is_default
                          - archived
                          - version
                          - created_at
                          - items
                          - free_trial
                          - base_variant_id
                        additionalProperties: false
                      - type: 'null'
                  options:
                    anyOf:
                      - type: array
                        items:
                          type: object
                          properties:
                            feature_id:
                              type: string
                            quantity:
                              type: number
                            upcoming_quantity:
                              anyOf:
                                - type: number
                                - type: 'null'
                            adjustable_quantity:
                              anyOf:
                                - type: boolean
                                - type: 'null'
                            internal_feature_id:
                              anyOf:
                                - type: string
                                - type: 'null'
                          required:
                            - feature_id
                            - quantity
                          additionalProperties: false
                      - type: 'null'
                  total:
                    anyOf:
                      - type: number
                      - type: 'null'
                  currency:
                    anyOf:
                      - type: string
                      - type: 'null'
                  has_prorations:
                    anyOf:
                      - type: boolean
                      - type: 'null'
                  next_cycle:
                    anyOf:
                      - type: object
                        properties:
                          starts_at:
                            type: number
                          total:
                            type: number
                        required:
                          - starts_at
                          - total
                        additionalProperties: false
                      - type: 'null'
                required:
                  - customer_id
                  - lines
                additionalProperties: false
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Autumn from '@useautumn/sdk';

            const client = new Autumn({
              secretKey: 'My Secret Key',
            });

            const response = await client.checkout({ customer_id: 'customer_id' });

            console.log(response.customer_id);
        - lang: Python
          source: |-
            from autumn import Autumn

            client = Autumn(
                secret_key="My Secret Key",
            )
            response = client.checkout(
                customer_id="customer_id",
            )
            print(response.customer_id)
  /cancel:
    post:
      summary: Cancel Product
      description: >-
        Cancel a customer's subscription to a product.


        Use this when a customer wants to stop their subscription. Supports immediate or end-of-period
        cancellation.


        @example

        ```typescript

        // Cancel a subscription

        const response = await client.cancel({
            "customer_id": "cus_123",
            "product_id": "pro_plan"
          });
        ```


        @param body.customer_id - The ID of the customer

        @param body.product_id - The ID of the product to cancel

        @param body.entity_id - The ID of the entity (optional)

        @param body.cancel_immediately - Whether to cancel the product immediately or at period end

        @param body.prorate - Whether to prorate the cancellation (defaults to true if not specified)


        @see {@link https://docs.useautumn.com/api-reference/core/cancel Cancel Subscriptions}
      tags:
        - core
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  description: The ID of the customer
                  example: cus_123
                  type: string
                product_id:
                  description: The ID of the product to cancel
                  example: pro_plan
                  type: string
                entity_id:
                  description: The ID of the entity (optional)
                  example: entity_123
                  anyOf:
                    - type: string
                    - type: 'null'
                cancel_immediately:
                  description: Whether to cancel the product immediately or at period end
                  example: false
                  type: boolean
                prorate:
                  description: Whether to prorate the cancellation (defaults to true if not specified)
                  example: true
                  anyOf:
                    - type: boolean
                    - type: 'null'
              required:
                - customer_id
                - product_id
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  success:
                    description: Whether the cancellation was successful
                    example: true
                    type: boolean
                  customer_id:
                    description: The ID of the customer
                    example: cus_123
                    type: string
                  product_id:
                    description: The ID of the canceled product
                    example: pro_plan
                    type: string
                required:
                  - success
                  - customer_id
                  - product_id
                additionalProperties: false
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Autumn from '@useautumn/sdk';

            const client = new Autumn({
              secretKey: 'My Secret Key',
            });

            const response = await client.cancel({ customer_id: 'cus_123', product_id: 'pro_plan' });

            console.log(response.customer_id);
        - lang: Python
          source: |-
            from autumn import Autumn

            client = Autumn(
                secret_key="My Secret Key",
            )
            response = client.cancel(
                customer_id="cus_123",
                product_id="pro_plan",
            )
            print(response.customer_id)
  /track:
    post:
      summary: Track Event
      description: |-
        Track usage events for metered features or record analytics events.

        Use this to increment usage counters for pay-as-you-go features or track customer activity.

        @example
        ```typescript
        // Track a usage event
        const response = await client.track({
            "customer_id": "cus_123",
            "feature_id": "api_calls",
            "value": 1
          });
        ```

        @param body.customer_id - The ID of the customer
        @param body.customer_data - Customer data to create or update the customer if they don't exist
        @param body.event_name - The name of the event to track
        @param body.feature_id - The ID of the feature (alternative to event_name for usage events)
        @param body.properties - Additional properties for the event
        @param body.timestamp - Unix timestamp in milliseconds when the event occurred
        @param body.idempotency_key - Idempotency key to prevent duplicate events
        @param body.value - The value/count of the event
        @param body.set_usage - Whether to set the usage to this value instead of increment
        @param body.entity_id - The ID of the entity this event is associated with
        @param body.entity_data - Data for creating the entity if it doesn't exist

        @see {@link https://docs.useautumn.com/api-reference/core/track Usage Tracking}
      tags:
        - core
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  description: The ID of the customer
                  example: cus_123
                  type: string
                  minLength: 1
                customer_data:
                  description: Customer data to create or update the customer if they don't exist
                  anyOf:
                    - type: object
                      properties:
                        name:
                          description: Customer's name
                          example: John Doe
                          anyOf:
                            - type: string
                            - type: 'null'
                        email:
                          description: Customer's email address
                          example: john@example.com
                          anyOf:
                            - type: string
                            - type: 'null'
                        fingerprint:
                          description: >-
                            Unique identifier (eg, serial number) to detect duplicate customers and prevent
                            free trial abuse
                          example: fp_123abc
                          anyOf:
                            - type: string
                            - type: 'null'
                        metadata:
                          description: Additional metadata for the customer
                          example:
                            company: Acme Inc
                          anyOf:
                            - type: object
                              propertyNames: {}
                              additionalProperties: {}
                            - type: 'null'
                        stripe_id:
                          description: Stripe customer ID if you already have one
                          example: cus_stripe123
                          anyOf:
                            - type: string
                            - type: 'null'
                    - type: 'null'
                event_name:
                  description: The name of the event to track
                  example: api_call
                  type: string
                  minLength: 1
                feature_id:
                  description: The ID of the feature (alternative to event_name for usage events)
                  example: api_calls
                  type: string
                properties:
                  description: Additional properties for the event
                  example:
                    endpoint: /api/users
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties: {}
                    - type: 'null'
                timestamp:
                  description: Unix timestamp in milliseconds when the event occurred
                  example: 1717000000000
                  anyOf:
                    - type: number
                    - type: 'null'
                idempotency_key:
                  description: Idempotency key to prevent duplicate events
                  example: evt_abc123
                  anyOf:
                    - type: string
                    - type: 'null'
                value:
                  description: The value/count of the event
                  example: 1
                  anyOf:
                    - type: number
                    - type: 'null'
                set_usage:
                  description: Whether to set the usage to this value instead of increment
                  example: false
                  anyOf:
                    - type: boolean
                    - type: 'null'
                entity_id:
                  description: The ID of the entity this event is associated with
                  example: entity_123
                  anyOf:
                    - type: string
                    - type: 'null'
                entity_data:
                  description: Data for creating the entity if it doesn't exist
                  anyOf:
                    - type: object
                      properties:
                        feature_id:
                          description: The feature ID that this entity is associated with
                          example: seats
                          type: string
                        name:
                          description: Name of the entity
                          example: Team Alpha
                          type: string
                      required:
                        - feature_id
                    - type: 'null'
              required:
                - customer_id
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: The ID of the created event
                    example: evt_123
                    type: string
                  code:
                    description: Response code
                    example: event_received
                    type: string
                  customer_id:
                    description: The ID of the customer
                    example: cus_123
                    type: string
                  entity_id:
                    description: The ID of the entity (if provided)
                    example: entity_123
                    type: string
                  event_name:
                    description: The name of the event
                    example: api_call
                    type: string
                  feature_id:
                    description: The ID of the feature (if provided)
                    example: api_calls
                    type: string
                required:
                  - id
                  - code
                  - customer_id
                additionalProperties: false
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Autumn from '@useautumn/sdk';

            const client = new Autumn({
              secretKey: 'My Secret Key',
            });

            const response = await client.track({ customer_id: 'cus_123' });

            console.log(response.id);
        - lang: Python
          source: |-
            from autumn import Autumn

            client = Autumn(
                secret_key="My Secret Key",
            )
            response = client.track(
                customer_id="cus_123",
            )
            print(response.id)
  /usage:
    post:
      summary: Set Usage
      description: >-
        Set or increment usage for a metered feature. This is similar to /track but specifically for
        usage-based features with the set_usage flag enabled by default.
      tags:
        - core
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  description: The ID of the customer
                  example: cus_123
                  type: string
                  minLength: 1
                customer_data:
                  description: Customer data to create or update the customer if they don't exist
                  anyOf:
                    - type: object
                      properties:
                        name:
                          description: Customer's name
                          example: John Doe
                          anyOf:
                            - type: string
                            - type: 'null'
                        email:
                          description: Customer's email address
                          example: john@example.com
                          anyOf:
                            - type: string
                            - type: 'null'
                        fingerprint:
                          description: >-
                            Unique identifier (eg, serial number) to detect duplicate customers and prevent
                            free trial abuse
                          example: fp_123abc
                          anyOf:
                            - type: string
                            - type: 'null'
                        metadata:
                          description: Additional metadata for the customer
                          example:
                            company: Acme Inc
                          anyOf:
                            - type: object
                              propertyNames: {}
                              additionalProperties: {}
                            - type: 'null'
                        stripe_id:
                          description: Stripe customer ID if you already have one
                          example: cus_stripe123
                          anyOf:
                            - type: string
                            - type: 'null'
                    - type: 'null'
                event_name:
                  description: The name of the event to track
                  example: api_call
                  type: string
                  minLength: 1
                feature_id:
                  description: The ID of the feature (alternative to event_name for usage events)
                  example: api_calls
                  type: string
                properties:
                  description: Additional properties for the event
                  example:
                    endpoint: /api/users
                  anyOf:
                    - type: object
                      propertyNames:
                        type: string
                      additionalProperties: {}
                    - type: 'null'
                timestamp:
                  description: Unix timestamp in milliseconds when the event occurred
                  example: 1717000000000
                  anyOf:
                    - type: number
                    - type: 'null'
                idempotency_key:
                  description: Idempotency key to prevent duplicate events
                  example: evt_abc123
                  anyOf:
                    - type: string
                    - type: 'null'
                value:
                  description: The value/count of the event
                  example: 1
                  anyOf:
                    - type: number
                    - type: 'null'
                set_usage:
                  description: Whether to set the usage to this value instead of increment
                  example: false
                  anyOf:
                    - type: boolean
                    - type: 'null'
                entity_id:
                  description: The ID of the entity this event is associated with
                  example: entity_123
                  anyOf:
                    - type: string
                    - type: 'null'
                entity_data:
                  description: Data for creating the entity if it doesn't exist
                  anyOf:
                    - type: object
                      properties:
                        feature_id:
                          description: The feature ID that this entity is associated with
                          example: seats
                          type: string
                        name:
                          description: Name of the entity
                          example: Team Alpha
                          type: string
                      required:
                        - feature_id
                    - type: 'null'
              required:
                - customer_id
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  id:
                    description: The ID of the created event
                    example: evt_123
                    type: string
                  code:
                    description: Response code
                    example: event_received
                    type: string
                  customer_id:
                    description: The ID of the customer
                    example: cus_123
                    type: string
                  entity_id:
                    description: The ID of the entity (if provided)
                    example: entity_123
                    type: string
                  event_name:
                    description: The name of the event
                    example: api_call
                    type: string
                  feature_id:
                    description: The ID of the feature (if provided)
                    example: api_calls
                    type: string
                required:
                  - id
                  - code
                  - customer_id
                additionalProperties: false
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Autumn from '@useautumn/sdk';

            const client = new Autumn({
              secretKey: 'My Secret Key',
            });

            const response = await client.usage({ customer_id: 'cus_123' });

            console.log(response.id);
        - lang: Python
          source: |-
            from autumn import Autumn

            client = Autumn(
                secret_key="My Secret Key",
            )
            response = client.usage(
                customer_id="cus_123",
            )
            print(response.id)
  /query:
    post:
      summary: Query Analytics
      description: |-
        Query usage analytics for a customer's features over a specified time range.

        Use this to retrieve historical usage data for dashboards, reports, or usage displays.

        @example
        ```typescript
        // Query 7-day usage
        const response = await client.query({
            "customer_id": "cus_123",
            "feature_id": "api_calls",
            "range": "7d"
          });
        ```

        @param body.customer_id - The ID of the customer to query analytics for
        @param body.feature_id - The feature ID(s) to query
        @param body.range - Time range for the query (defaults to last_cycle if not provided)

        @see {@link https://docs.useautumn.com/api-reference/core/query Analytics Queries}
      tags:
        - core
      requestBody:
        content:
          application/json:
            schema:
              $ref: '#/components/schemas/QueryParams'
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                $ref: '#/components/schemas/QueryResult'
      x-codeSamples:
        - lang: JavaScript
          source: |-
            import Autumn from '@useautumn/sdk';

            const client = new Autumn({
              secretKey: 'My Secret Key',
            });

            const response = await client.query({ customer_id: 'cus_123', feature_id: 'api_calls' });

            console.log(response.list);
        - lang: Python
          source: |-
            from autumn import Autumn

            client = Autumn(
                secret_key="My Secret Key",
            )
            response = client.query(
                customer_id="cus_123",
                feature_id="api_calls",
            )
            print(response.list)
  /check:
    post:
      summary: Check Feature Access
      description: |-
        Check whether a customer has access to a product, feature or remaining usage.

        @example
        ```typescript
        // Check feature access
        const response = await client.check({
            "customer_id": "cus_123",
            "feature_id": "api_calls"
          });
        ```

        @param body.customer_id - The ID of the customer to check
        @param body.feature_id - The ID of the feature to check access for
        @param body.product_id - The ID of the product to check
        @param body.entity_id - The ID of the entity (optional)
        @param body.customer_data - Customer data to create or update the customer if they don't exist
        @param body.required_balance - The required balance for the check
        @param body.send_event - Whether to send a usage event if allowed
        @param body.with_preview - Whether to include preview information in the response
        @param body.entity_data - Entity data to create the entity if it doesn't exist
      tags:
        - core
      requestBody:
        content:
          application/json:
            schema:
              type: object
              properties:
                customer_id:
                  description: The ID of the customer to check
                  example: cus_123
                  type: string
                feature_id:
                  description: The ID of the feature to check access for
                  example: api_calls
                  type: string
                product_id:
                  description: The ID of the product to check
                  example: pro_plan
                  type: string
                entity_id:
                  description: The ID of the entity (optional)
                  example: entity_123
                  type: string
                customer_data:
                  description: Customer data to create or update the customer if they don't exist
                  type: object
                  properties:
                    name:
                      description: Customer's name
                      example: John Doe
                      anyOf:
                        - type: string
                        - type: 'null'
                    email:
                      description: Customer's email address
                      example: john@example.com
                      anyOf:
                        - type: string
                        - type: 'null'
                    fingerprint:
                      description: >-
                        Unique identifier (eg, serial number) to detect duplicate customers and prevent free
                        trial abuse
                      example: fp_123abc
                      anyOf:
                        - type: string
                        - type: 'null'
                    metadata:
                      description: Additional metadata for the customer
                      example:
                        company: Acme Inc
                      anyOf:
                        - type: object
                          propertyNames: {}
                          additionalProperties: {}
                        - type: 'null'
                    stripe_id:
                      description: Stripe customer ID if you already have one
                      example: cus_stripe123
                      anyOf:
                        - type: string
                        - type: 'null'
                required_balance:
                  description: The required balance for the check
                  example: 1
                  type: number
                send_event:
                  description: Whether to send a usage event if allowed
                  example: true
                  type: boolean
                with_preview:
                  description: Whether to include preview information in the response
                  example: true
                  type: boolean
                entity_data:
                  description: Entity data to create the entity if it doesn't exist
                  type: object
                  properties:
                    feature_id:
                      description: The feature ID that this entity is associated with
                      example: seats
                      type: string
                    name:
                      description: Name of the entity
                      example: Team Alpha
                      type: string
                  required:
                    - feature_id
              required:
                - customer_id
      responses:
        '200':
          description: 200 OK
          content:
            application/json:
              schema:
                type: object
                properties:
                  allowed:
                    description: Whether the customer is allowed to use the feature
                    example: true
                    type: boolean
                  customer_id:
                    description: The ID of the customer
                    example: cus_123
                    type: string
                  feature_id:
                    description: The ID of the feature checked
                    example: api_calls
                    type: string
                  entity_id:
                    description: The ID of the entity (if provided)
                    example: entity_123
                    anyOf:
                      - type: string
                      - type: 'null'
                  required_balance:
                    description: The required balance for this check
                    example: 1
                    type: number
                  code:
                    description: Response code indicating the result
                    example: allowed
                    type: string
                  preview:
                    description: Preview information if with_preview was true
                    type: object
                    properties:
                      scenario:
                        type: string
                        enum:
                          - usage_limit
                          - feature_flag
                      title:
                        description: Title for the preview message
                        example: Usage Limit Reached
                        type: string
                      message:
                        description: Detailed message explaining the check result
                        example: You've reached your usage limit. Upgrade to continue.
                        type: string
                      feature_id:
                        description: The ID of the feature
                        example: api_calls
                        type: string
                      feature_name:
                        description: The name of the feature
                        example: API Calls
                        type: string
                      products:
                        description: Available products that include this feature
                        type: array
                        items:
                          type: object
                          properties:
                            id:
                              description: The ID of the product you set when creating the product
                              example: pro_plan
                              type: string
                            name:
                              description: The name of the product
                              example: Pro Plan
                              type: string
                            group:
                              description: The group of the product
                              example: product_set_1
                              anyOf:
                                - type: string
                                - type: 'null'
                            env:
                              description: The environment of the product
                              example: production
                              type: string
                              enum:
                                - sandbox
                                - live
                            is_add_on:
                              description: Whether the product is an add-on and can be purchased alongside other products
                              example: true
                              type: boolean
                            is_default:
                              description: Whether the product is the default product
                              example: true
                              type: boolean
                            archived:
                              description: Whether this product has been archived and is no longer available
                              example: false
                              type: boolean
                            version:
                              description: The version of the product
                              example: 1
                              type: number
                            created_at:
                              description: The timestamp of when the product was created in milliseconds since epoch
                              example: 1759247877000
                              type: number
                            items:
                              description: Array of product items that define the features and pricing
                              example:
                                - feature_id: <string>
                                  feature_type: single_use
                                  included_usage: 123
                                  interval: <string>
                                  usage_model: prepaid
                                  price: 123
                                  billing_units: 123
                                  entity_feature_id: <string>
                                  reset_usage_when_enabled: true
                                  tiers:
                                    - to: 123
                                      amount: 123
                              type: array
                              items:
                                $ref: '#/components/schemas/ProductItemOutput'
                            free_trial:
                              description: Free trial configuration for this product, if available
                              example:
                                duration: <string>
                                length: 123
                                unique_fingerprint: true
                              anyOf:
                                - type: object
                                  properties:
                                    duration:
                                      description: The duration type of the free trial
                                      example: <string>
                                      type: string
                                      enum:
                                        - day
                                        - month
                                        - year
                                    length:
                                      description: The length of the free trial
                                      example: 123
                                      type: number
                                    unique_fingerprint:
                                      description: Whether the free trial is limited to one per customer fingerprint
                                      example: true
                                      type: boolean
                                    card_required:
                                      description: Whether the free trial requires a card
                                      example: true
                                      type: boolean
                                    trial_available:
                                      description: Whether the free trial is available
                                      example: true
                                      default: true
                                      anyOf:
                                        - type: boolean
                                        - type: 'null'
                                  required:
                                    - duration
                                    - length
                                    - unique_fingerprint
                                    - card_required
                                    - trial_available
                                  additionalProperties: false
                                - type: 'null'
                            base_variant_id:
                              description: ID of the base variant this product is derived from
                              example: var_1234567890abcdef
                              anyOf:
                                - type: string
                                - type: 'null'
                            scenario:
                              description: Scenario context for when this product is used in attach flows
                              example: upgrade
                              type: string
                              enum:
                                - scheduled
                                - active
                                - new
                                - renew
                                - upgrade
                                - downgrade
                                - cancel
                                - expired
                                - past_due
                            properties:
                              description: Additional properties and metadata for the product
                              example:
                                is_free: false
                                is_one_off: false
                                interval_group: monthly
                                has_trial: true
                                updateable: true
                              type: object
                              properties:
                                is_free:
                                  description: True if the product has no base price or usage prices
                                  example: false
                                  type: boolean
                                is_one_off:
                                  description: True if the product only contains a one-time price
                                  example: false
                                  type: boolean
                                interval_group:
                                  description: >-
                                    The billing interval group for recurring products (e.g., 'monthly',
                                    'yearly')
                                  example: monthly
                                  anyOf:
                                    - type: string
                                    - type: 'null'
                                has_trial:
                                  description: True if the product includes a free trial
                                  example: true
                                  anyOf:
                                    - type: boolean
                                    - type: 'null'
                                updateable:
                                  description: >-
                                    True if the product can be updated after creation (only applicable if
                                    there are prepaid recurring prices)
                                  example: true
                                  anyOf:
                                    - type: boolean
                                    - type: 'null'
[...]
